<div class="card mt-3">
  <%= image_tag "http://source.unsplash.com/featured/?#{restaurant.name}&#{rand(1000)}" %>
  <div class="card-product-infos">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
  </div>
  <%= link_to '', restaurant_path(restaurant), class: 'card-link' %>
</div>
